@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    padding: 3px 0;
    background-color: rgb(245, 209, 237);
}

#slider {
    margin: 0px;
    padding: 30%;
    width: 100%;
    height: 1000vh;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
    align-items: center;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 809px;
}


.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 215px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #550d43; 
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #580739;
}

#radio1:checked ~ .first{
    margin-left: 5;
}

#radio2:checked ~ .first{
    margin-left: -15%;
}

#radio3:checked ~ .first{
    margin-left: -35%;
}

#radio4:checked ~ .first{
    margin-left: -55%;
}

.navigation-auto div{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 845px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #550d43;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #550d43;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #550d43;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #550d43;
}